chain:
  clConfigPath: 'node'
  elConfigPath: '/network-configs/genesis.json'
readerDatabase:
  name: {{.DBName}}
  host: {{.DBHost}}
  port: {{.DBPort}}
  user: {{.DBUser}}
  password: {{.DBPass}}
writerDatabase:
  name: {{.DBName}}
  host: {{.DBHost}}
  port: {{.DBPort}}
  user: {{.DBUser}}
  password: {{.DBPass}}
bigtable:
  project: explorer
  instance: explorer
  emulator: true
  emulatorHost: {{.LBTHost}}
  emulatorPort: {{.LBTPort}}
elNodeEndpoint: '{{.ELNodeEndpoint}}'
redisCacheEndpoint: '{{.RedisEndpoint}}'
tieredCacheProvider: 'redis'
frontend:
  siteDomain: "localhost:8080"
  siteName: 'Zond Testnet Explorer' # Name of the site, displayed in the title tag
  siteSubtitle: "Showing a local testnet."
  server:
    host: '0.0.0.0' # Address to listen on
    port: '{{.FrontendPort}}' # Port to listen on
  readerDatabase:
    name: {{.DBName}}
    host: {{.DBHost}}
    port: {{.DBPort}}
    user: {{.DBUser}}
    password: {{.DBPass}}
  writerDatabase:
    name: {{.DBName}}
    host: {{.DBHost}}
    port: {{.DBPort}}
    user: {{.DBUser}}
    password: {{.DBPass}}
  sessionSecret: "11111111111111111111111111111111"
indexer:
  # fullIndexOnStartup: false # Perform a one time full db index on startup
  # indexMissingEpochsOnStartup: true # Check for missing epochs and export them after startup
  node:
    host: '{{.CLNodeHost}}'
    port: '{{.CLNodePort}}'
    type: '{{.CLNodeType}}'
  depositContractFirstBlock: 0
