export PRESET_BASE="{{ .Preset }}"
export CHAIN_ID="{{ .NetworkId }}"
export DEPOSIT_CONTRACT_ADDRESS="{{ .DepositContractAddress }}"
export EL_AND_CL_MNEMONIC="{{ .PreregisteredValidatorKeysMnemonic }}"
export CL_EXEC_BLOCK="0"
export SLOT_DURATION_IN_SECONDS={{ .SecondsPerSlot }}
export DEPOSIT_CONTRACT_BLOCK="0x0000000000000000000000000000000000000000000000000000000000000000"
export NUMBER_OF_VALIDATORS={{ .NumValidatorKeysToPreregister }}
export GENESIS_FORK_VERSION="{{ .GenesisForkVersion }}"
export WITHDRAWAL_TYPE="0x00"
export WITHDRAWAL_ADDRESS=Qf97e180c050e5Ab072211Ad2C213Eb5AEE4DF134
export GENESIS_TIMESTAMP={{ .UnixTimestamp }}
export GENESIS_DELAY={{ .GenesisDelay }}
export GENESIS_GASLIMIT={{ .GenesisGasLimit }}
export MAX_PER_EPOCH_ACTIVATION_CHURN_LIMIT={{ .MaxPerEpochActivationChurnLimit }}
export CHURN_LIMIT_QUOTIENT={{ .ChurnLimitQuotient }}
export EJECTION_BALANCE={{ .EjectionBalance }}
export EXECUTION_FOLLOW_DISTANCE={{ .ExecutionFollowDistance }}
export SHADOW_FORK_FILE={{ .ShadowForkFile }}
export MIN_VALIDATOR_WITHDRAWABILITY_DELAY={{ .MinValidatorWithdrawabilityDelay }}
export SHARD_COMMITTEE_PERIOD={{ .ShardCommitteePeriod }}
export DATA_COLUMN_SIDECAR_SUBNET_COUNT={{ .DataColumnSidecarSubnetCount }}
export SAMPLES_PER_SLOT={{ .SamplesPerSlot }}
export CUSTODY_REQUIREMENT={{ .CustodyRequirement }}
export ADDITIONAL_PRELOADED_CONTRACTS={{ .AdditionalPreloadedContracts }}
export EL_PREMINE_ADDRS={{ .PrefundedAccounts }}
export GOSSIP_MAX_SIZE={{ .GossipMaxSize }}
export MAX_CHUNK_SIZE={{ .GossipMaxSize }}
export LIGHT_KDF_ENABLED={{ .LightKDFEnabled }}
